.container {
   width: 100%;
}
.left {
   width: 100%;
   padding: 15px;
   background: #fff;
   box-shadow: 2px 2px 12px 0px #00000026;
   border-radius: 8px;
   float: left;
   margin-right: 10px;
}
.btn {
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.modal_fl {
   display: flex;
   justify-content: space-between;
}
.modal_container_notifical {
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.left_content1 {
   display: flex;
   flex-direction: column;
   gap: 15px;
   border-bottom: 1px dotted;
   padding-bottom: 20px;
}
.left_content2 {
   padding-top: 20px;
   border-bottom: 1px dotted;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.left_flex {
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.p_bold {
   font-weight: 600;
   cursor: pointer;
   font-size: 17px;
}
.p_green {
   color: #4c5bd4;
   font-size: 14px;
}
.left_content3,
.left_content4,
.left_content5,
.left_content6 {
   padding-top: 20px;
   border-bottom: 1px dotted;
   padding-bottom: 20px;
}
.left_content3_chil {
   padding-top: 20px;
   display: flex;
   justify-content: space-between;

   align-items: center;
}
.left_fl2 {
   display: flex;
   gap: 5px;
   align-items: center;
   cursor: pointer;
}
.btn_add {
   border: none;
   display: flex;
   gap: 5px;
   align-items: center;
   background: #4c5bd4;
   border-radius: 5px;
   height: 34px;
   justify-content: center;
   line-height: 25px;
   padding: 0 6px;
   color: #fff;
   cursor: pointer;
}
.btn_ban {
   padding: 6px;
   border-radius: 8px;
   background-color: #47474747;
   border: none;
   cursor: pointer;
}
@media (max-width: 1281px) {
   .container {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   .left {
      width: 100%;
      background: unset;
      box-shadow: unset;
      padding: unset;
   }
   .right {
      width: 100%;
      margin-left: unset;
      background: unset;
      box-shadow: unset;
      padding: unset;
   }
}

@media (max-width: 415px) {
   .p_bold {
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .p_green {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .left_flex {
      gap: 7px;
   }
}
