.container {
   width: 100%;
   display: flex;
}
.modal_container {
   padding: 20px;
}
.left {
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   float: left;
   position: fixed;
   height: calc(100vh - 78px);
   width: 25%;
   top: 12%;
   padding-left: 5px;
   padding-right: 10px;
   overflow: auto;
}
.left_container {
   width: 25%;
   float: left;
}
.right {
   width: 72%;
   float: left;
   padding: 20px 0px 20px 20px;
}
.right_header {
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   border-radius: 8px;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.content {
   margin-top: 30px;
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   padding: 30px;
   border-radius: 8px;
}
.right_error {
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
   border-radius: 8px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.content_all {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.content_fl {
   display: flex;
   gap: 10px;
   align-items: center;
}
.content_fl1 {
   display: flex;
   gap: 10px;
   align-items: center;
}
.colection {
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.menu_drop {
   display: flex;
   gap: 25px;
   align-items: center;
}
.drop_fl {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.modal_container {
   padding: 20px;
   display: flex;
   gap: 15px;
   flex-direction: column;
   width: 100%;
   text-align: center;
}

.btn {
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.right_menu {
   display: flex;
   gap: 20px;
   align-items: center;
   padding-bottom: 15px;
   padding-left: 20px;
}
.right_none {
   display: none;
   position: fixed;
   top: 12.8%;
   background: white;
   width: 100%;
   z-index: 10;
   box-shadow: 0px 9px 12px 0px #00000026;
}
.right_menu_content {
   width: 40%;
   position: fixed;
   height: calc(100vh - 78px);
   top: 6.6%;
   float: left;
   padding-left: 5px;
   padding-right: 5px;
   background: white;
   box-shadow: 2px 2px 12px 0px #00000026;
}
.menu {
   overflow: scroll;
}
@media (max-width: 1281px) {
   .left {
      top: 10%;
   }
}
@media (max-width: 1200px) {
   .left_container {
      display: none;
   }
   .right {
      width: 98%;
      margin-top: 50px;
   }
   .right_none {
      display: block;
   }
   .right_menu_content {
      left: 0;
      top: 21.6%;
   }
}
@media (max-width: 913px) {
   .right_menu_content {
      left: 0;
      top: 9.5%;
   }
   .banner_content {
      padding: 15px;
   }
   .right_none {
      top: 5.5%;
   }
}
@media (max-width: 821px) {
   .right_menu_content {
      left: 0;
      top: 11%;
   }
   .right_none {
      top: 6.5%;
   }
}

@media (max-width: 550px) {
   .right_menu_content {
      width: 70%;
      top: 17.6%;
      left: 0;
   }
   .cam_header {
      left: 86%;
   }
   .right_img {
      height: 290px;
   }
   .right_none {
      top: 10.5%;
   }
}
@media (max-width: 415px) {
   .right_menu_content {
      top: 14.5%;
      left: 0;
   }
   .right_none {
      top: 8.5%;
   }
   .right_img {
      height: 240px;
   }
   .right {
      width: 95%;
   }
   .content_fl1 {
      flex-direction: column;
      align-items: flex-start;
      gap: unset;
   }
   .drop_fl {
      gap: unset;
   }
}
@media (max-width: 390px) {
   .right_menu_content {
      left: 0;
      top: 11.6%;
   }
}
@media (max-width: 376px) {
   .right_menu_content {
      left: 0;
      top: 17.5%;
   }
   .right_none {
      top: 10.5%;
   }
}
@media (max-width: 360px) {
   .right_menu_content {
      left: 0;
      top: 17.5%;
   }
   .right_none {
      top: 10.5%;
   }
}
