.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.btn__submit {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4C5BD4;
    font-weight: 700;
}

.modal__list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;

}

.modal__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding-left: 10px;
}

.modal__img {
    border-radius: 50%;
    margin-right: 10px;
}

.modal__name {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
}

.selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    min-height: 50px;
    border-radius: 5px;
    gap: 10px;
}

.selected__title {
    font-size: 16px;
    margin-right: 10px;
    width: 100%;
}

.selected__item {
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
}

.selected__close {
    cursor: pointer;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 2px;
}


.selected__item__active {
    background-color: #ccc;
    margin-right: 4px;
}