.goiy{
    font-size: 12px;
    padding: 10px 0 0 0 ;
}
.ip_st {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.ip_st .ip_st_kytu {
    display: flex;
    border-bottom: 1px solid #474747;
    font-size: 16px;
    width: 100%;
    padding:  5px;
    justify-content: space-between;
    color: #999999;
}
.ip_st .ip_st_kytu >input{
    border: none;
    width: 76%;
}
.ip_st > img {
    cursor: pointer;
}
.ip_st .ip_st_kytu >input:focus{
    outline-style: none;
}
.add_sothich{
    display: flex;
    /* align-items: center; */
    color: #4c5bd4;
    padding: 20px 0; 
    font-size: 16px;
    cursor: pointer;
    gap: 10px;
}
.sothich >img {margin-right: 5px;}
.btn{
    display: flex;
    justify-content: flex-end;
    padding: 0 44px 20px;
    gap: 20px;
}
.btn >button{
    padding:10px ;
    font-size:16px ;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}
.huy {
    color: #474747;
}
.ok {
    color: #ffffff;
    background: #4c5bd4;
}.add__st{
    text-align: center;
    padding: 10px 0;
    background: #F2F2F2;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #474747;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.st_sothich{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.sothich{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #474747;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

}