.container {
    width: 100%;
    height: 100%;
}

.btnMenu {
    z-index: 10;
    position: fixed;
    top: 23px;
    left: 61px;
}

.menu {
    z-index: 10;
    position: fixed;
    top: 78px;
    max-width: 256px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    overflow-x: auto;
}