.modalAddDocumentContentButton {
    padding-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.modalAddDocumentContentButtonCancel {
    color: #4c5bd4;
    background: #fff;
    border: 1px solid #4c5bd4;
    border-radius: 50px !important;
    text-align: center;
    font-weight: 700;
    padding: 0 65px !important;
}

.modalAddDocumentContentButtonCreate {
    background: #4c5bd4;
    color: #fff;
    border: 1px solid #4c5bd4;
    border-radius: 50px !important;
    text-align: center;
    font-weight: 700;
    padding: 0 65px !important;
}