.myimage{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(215px,1fr));
    gap: 18px;
    justify-content: space-between;
    padding-left: 8px;
    .myimage_img{
        display: flex;
        .myimage_img_edit{
            position: relative;
            inset :5px 0px 0px -35px
        }
    }
}
.pen{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}
.album{
    padding: 10px;
.album_add{
    display: flex;
    width: 100%;
    .album_new
    {
      display: flex;
      flex-wrap: wrap   ;
      justify-content: space-between;
      gap:10px;
    }
    .album_new_img{
        display: flex;
        width: 100%;
        img{
            width: 100%;
        }
        .album_img_edit{
            position: relative;
            inset: 5px 0 0 -35px;
        }
    }
  
}
}
.album_add__new{
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #F7F8FC;
    margin-right: 10px;
}
.data{
    background-color:#e5e5e5 ;
    width: 218px;
    margin-bottom: 20px;
}




@media screen and (max-width:486px) {
    .myimage{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        .myimage_img{
            width: 100%;
            .myimage_img_img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .album_new{
        width: 100%;
    }
    .album_add__new{
        width: 100%;    
    }
    .album_new_img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .img486{
        display: flex;
        justify-content: center;
        margin: 10px auto 0 auto;
    }
    
}

































































































