.title{
    padding: 20px 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #474747;
    background-color: white;
    border-radius:5px 5px 0  0 ;
    margin-bottom: 20px;
}
