.modal__body {
    display: flex;
}

.modalAvatar {
    border-radius: 50%;
}

.modal__body__right {
    margin-left: 10px;
    width: 100%;
    padding-left: 10px;
    line-height: 24px;
    cursor: pointer;
}

.modal__body__right a {
    font-weight: 600;
    font-size: 16px;
}

.modal__body__right p {
    font-weight: 500;
    font-size: 15px;
}

.modal__body__right_regime {
    display: flex;
    gap: 5px;
}

.modal__input {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__input__content {
    margin: 20px 0px;
    max-height: 250px;
    overflow-y: scroll;
}

.modal__footer {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #999999;
    padding-left: 20px;
    padding-right: 16px;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__footer__left {
    color: #534747;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.modal__footer__right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 24px;

}

.modal__footer__right__img {
    cursor: pointer;
}

.modal__footer__right__btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
}

.modal__btn {
    width: 100%;
    background-color: #4c5bd4;
    color: white;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.disabledButton {
    background-color: #ccc;
    cursor: not-allowed;
}