.btn{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    button{
        font-size: 17px;
    font-weight: bold;
    width: 180px;
    border-radius: 20px;
    line-height: 34px;
    cursor: pointer;
    }
    
 }
    .bo{
     border: 1px solid #4c5bd4;
     color: #4c5bd4;
     font-weight: bold;
     font-size: 17px;
   
     
    }
    .tieptucchinhsua{
     font-size: 17px;
     font-weight: bold;
     background: #4c5bd4;
     color: #fff;
     border: none;
    }
    .content_modal{
        padding: 20px;
        text-align: center;
        color: #474747;
        font-size: 16px;
        font-weight: 500;
    }
    
