.main{
    max-width: 1200px;
    margin: 30px auto;
    background-color: #fff;
    
}

.title{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.block_cmt{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    // cursor: pointer;
}
.comment{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    height: 70px;
    align-items: center;
    .item{
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
}
.cmt_cmt{
    display: none;
}
.show_cmt{
    position: relative;
    .cmt_cmt{
        position: absolute;
        width: 200px;
        z-index: 1;
        background: #fff;
        padding: 5px 10px;
        right: 20px;
    }
}
.show_cmt:hover{
    .cmt_cmt{
        display: block;
    }
}
.emoji{
    position: absolute;
    display: none;
    z-index: 1;
    top:-60px;
    height: 100px;
}
.feeling{
    position: relative;
}
.feeling:hover{
    .emoji{
        display: block;
        z-index: 1;
        div {
            img:hover{
                transform: scale(1.3);
                
            }
        }
        
    }
}
.d_flex{
    display: flex;
    width: 300px;
    gap:10px;

}
.write_cmt{
    display: flex;
    padding: 20px;
    gap: 20px;
    position: relative;
    input{
        border-radius: 30px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        background-color: #ccc;
    }
    input:focus{
        outline: none;
    }
}
.img{
    img{
        border-radius: 50%;
    }
    
}
.option{
    position: absolute;
    z-index:  1;
    right: 30px;
    top: 26px;
}
.item_option{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.cmt_show{
    display: flex;
    padding: 20px 20px 0 20px;
    gap: 20px;
}
.cont_cmt{
    width: 100%;
    background: #ccc;
    border-radius: 20px;
    padding:0 20px ;
    span{
        font-size: 13px;
        font-weight: 400;
    }
}
.show_cmt_action_2{
    padding-left: 100px;
    display: flex;
    gap: 10px;
}
.ne{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 10px;
}