.left {
}
.left_all {
   display: flex;
   flex-direction: column;
   padding-bottom: 30px;
}
.left_allcontent {
   padding-top: 20px;
}
.left_content {
   cursor: pointer;
   color: #474747;
   font-weight: 500;
   height: 72px;
   border-radius: 5px;
   padding-left: 11px;
   display: flex;
   gap: 15px;
   margin-top: 10px;
   align-items: center;
}
.selectedLink {
   background-color: #dddddd;
   color: #fff;
}
.selectedLink .left_icon {
   background-color: #4c5bd4;
}
.left_content:hover {
   background-color: #dddddd;
}
.selectedLink .left_p {
   color: #4c5bd4;
}
.left_icon4,
.left_icon3,
.left_icon {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #dddddd;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.left_p4,
.left_p3,
.left_p {
   color: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
}
.left_p2 {
   color: #4c5bd4;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
}
.left_group {
   padding-top: 20px;
   display: flex;
   justify-content: space-between;
   padding-left: 15px;
   padding-right: 30px;
}
.left_group_p {
   font-size: 20px;
   font-weight: 700;
}
.left_group_btn {
   border: none;
   background: none;
   font-weight: 500;
   color: #4c5bd4;
   cursor: pointer;
}
.right {
   width: 74%;
   background-color: #f7f8fc;
   float: left;
   padding-top: 30px;
   display: flex;
   gap: 10px;
}

.search {
   width: 100%;
   padding-top: 10px;
   padding-left: 10px;
}
.select_new {
   width: 100%;
}
.p_new {
   font-size: 18px;
   font-weight: bold;
}
.btn_new {
   display: flex;
   justify-content: center;
   gap: 20px;
}
.modal_container_new {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
}
.inputSearch {
   border-radius: 25px;
   height: 50px;
   width: 90%;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.inputSearch_modal {
   border-radius: 25px;
   height: 50px;
   width: 97%;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.add_friend {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
}
.add_btn {
   background: unset;
   border: unset;
   margin-right: 90px;
   color: blue;
   cursor: pointer;
}
.add_p {
   font-weight: 700;
   color: #474747;
   font-size: 18px;
}
.all_card {
   width: 100%;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   margin-top: 20px;
   border-bottom: 1px solid;
   padding-bottom: 20px;
}
.card {
}
.name {
   color: #474747;
   font-weight: 500;
   padding-left: 15px;
}
.friend {
   color: #666666;
   font-weight: 400;
   padding-left: 15px;
}
.thuc_card {
}
.btn_acp {
   border: none;
   width: 89%;
   background: #4c5bd4;
   height: 36px;
   border-radius: 10px;
   color: white;
   font-weight: 700;
   cursor: pointer;
   margin: auto;
}
.btn_cancel {
   border: none;
   width: 89%;
   background: #ccc;
   height: 36px;
   border-radius: 10px;
   color: #474747;
   font-weight: 700;
   cursor: pointer;
   margin: auto;
}
.btn_delete {
   border: 1px solid #4c5bd4;
   background: white;
   color: #4c5bd4;
   font-weight: 700;
   width: 89%;
   border-radius: 10px;
   height: 36px;
   margin: auto;
}
.friend_btn {
   padding-bottom: 10px;
   padding-top: 10px;
   width: 100%;
   display: flex;
}
.left_btn {
   background: #fff;
   border-radius: 10px;
   width: 90%;
   border: 1px solid #4c5bd4;
   height: 48px;
   color: #4c5bd4;
   font-weight: 500;
   margin: 0 0 15px;
   cursor: pointer;
   font-size: 15px;
}
.left_button {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 10px;
}
.my_group {
   display: flex;
   gap: 20px;
   padding-top: 30px;
   cursor: pointer;
}
.group {
   margin-left: 15px;
   margin-right: 15px;
   padding-top: 10px;
   border-top: 1px solid #ccc;
   padding-bottom: 20px;
}
.group2 {
   margin-left: 15px;
   padding-top: 10px;
   border-top: 1px solid #ccc;
   margin-right: 15px;
}
.modal_p {
   color: #666666;
   font-size: 14px;
   font-weight: 400;
}
.modal_btn {
   border: none;
   background: unset;
   cursor: pointer;
   display: flex;
   gap: 20px;
   align-items: baseline;
   padding-top: 20px;
}
.modal2 {
   display: flex;
   gap: 20px;
   justify-content: space-between;
   padding-top: 30px;
   align-items: baseline;
}
.modal3 {
   display: flex;
   gap: 20px;
   justify-content: space-between;
   padding-top: 10px;
   align-items: baseline;
   padding-bottom: 20px;
}
.modal2_fl {
   display: flex;
   gap: 20px;
}
.modal3_fl {
   display: flex;
   gap: 20px;
}
.thuc_notification {
}
.modal_container {
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}
.thuc_pin {
}
.more_btn {
   border: none;
   background: unset;
   color: #4c5bd4;
   cursor: pointer;
}
.more_fl {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.more2_fl {
   display: flex;
   gap: 15px;
   align-items: center;
   padding-top: 15px;
}
.unpin {
   background: #4c5bd4;
   border-radius: 3px;
   height: 36px;
   color: white;
   font-weight: 700;
   width: 120px;
   border: none;
   cursor: pointer;
}
.pin {
   background: white;
   border-radius: 3px;
   height: 36px;
   color: #4c5bd4;
   font-weight: 700;
   width: 120px;
   border: 1px solid #4c5bd4;
   cursor: pointer;
}
.delete {
   border-radius: 3px;
   width: 120px;
   height: 36px;
   color: white;
   font-weight: 700;
   border: none;
   background: #ccc;
   cursor: pointer;
}
.btn_cancer {
   border: 1px solid #4c5bd4;
   background: white;
   color: #4c5bd4;
   font-weight: 700;
   border-radius: 50px;
}
.btn_ok {
   background: #4c5bd4;
   color: white;
   font-weight: 700;
   border: none;
   border-radius: 50px;
}
