.warehouse {
    display: flex;
    gap: 30px;

    .sidebar {
        width: 21%;
        padding: 20px;
        position: fixed;
        background-color: #fff;
        min-height: 100vh;
        .khotin{
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
        }
        .nhatki{
            font-size: 17px;
            font-weight: 500;
            padding: 10px 0;
            cursor: pointer;
        }
    }

    .content {

        margin: 30px 30px 30px 22%;
        width: 100%;
        height: 100%;
        background-color: #fff;

        .head_content {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
    }
}

.myimage {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    .myimage_img{
        width: 155px;
    }

    .myimage_img_img {
        border-radius: 8px;
        background-color: #ccc;

    }
}
.date{
    position: relative;
    top: 24px;
    left: 5px;
    color:white;
}
.seen{
    position: relative;
    top: -30px;
    left: 5px;
    color:white;
    display: flex;
    align-items: center;
}
.activeTab{
    background: #cf2a2a;
}

.header_an{
    display: none;
}
.header_fake{
    display: block;
}
@media screen and (max-width:769px) {
    .sidebar{
        display: none;
    }
    .header_an{
        display: block;
    }
    .header_fake{
        display: none;
    }
    .content {
        margin: 10px !important;
    }
}
@media screen and (max-width:321px) {
    .head_content{
        display: flex;
        flex-direction: column;
    }
    .myimage_img{
        width: 100% !important;
        .myimage_img_img{
            width: 100%;
        }
    }
}