.thutuceoContainer {
    box-shadow: 0 1.72314px 4.30784px 2.58471px rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.thutuceoContainerTitle {
    font-weight: 700;
    color: #474747;
    padding: 22px 3.5%;
    border-bottom: 1px solid rgba(71, 71, 71, .75);
}

.thutuceoContainerContent {
    padding: 15px 3.5%;
}

.thutuceoContainerContentFormButton {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 19px 0 39px;
}

.thutuceoContainerContentFormTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.thutuceoContainerContentRightContentItemUser {
    font-size: 14px;
    max-width: 200px;

}

.thutuceoContainerContentFormButtonSubmit {
    border-radius: 50px !important;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    height: 36px;
    width: 303px;
    background: #4c5bd4;
    color: #fff;
    border: 1px solid #4c5bd4;
}

.thutuceoContainerContentRight {
    background: #fff;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 6px;
    margin-top: 21px;
}

.thutuceoContainerContentRightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #474747;
    padding: 16px 26px;
    border-bottom: 1px solid rgba(71, 71, 71, .75);
}

.thutuceoContainerContentRightContent {
    padding: 10px 3.5% 16px;
}

.thutuceoContainerContentRightContentItem {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(71, 71, 71, .75);

    .list_gr {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        cursor: pointer;
    }
}

.thutuceoContainerContentRightContentItemTitle {
    cursor: pointer;
    font-weight: 500;
    color: #4c5bd4;
    padding: 7px 0;
}

.thutuceoContainerContentRightContentItemUser {
    color: #474747;
    margin-bottom: 5px;
}

.thutuceoContainerContentRightContentItemTime {
    color: rgba(71, 71, 71, .75);
}

.searchPost {
    margin: 20px 0;

    .timkiembaiviet {
        border-radius: 50px !important;
        padding: 10px 25px;
    }
}

.postItem {
    margin-bottom: 100px;
    box-shadow: 0 1.72314px 4.30784px 2.58471px rgb(0 0 0 / 10%);
    padding: 20px 3.5%;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .header {
        display: flex;
        justify-content: space-between;
    }

    .headerInfo {
        display: flex;
        gap: 10px;

        .avatar {
            border-radius: 50%;
        }

        .textBold {
            font-weight: 600;
        }

        .time {
            font-size: 14px;
            color: #474747;
        }
    }


    .status {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .statusName {
            font-size: 18px;
        }

        .fileName {
            cursor: pointer;
            color: #4c5bd4;
        }

        .viewDetail {
            text-decoration: underline;
            cursor: pointer;
            color: #4c5bd4;
        }
    }

    .anh {
        height: 200px;

        .anhItem {
            height: 200px;
            object-fit: cover;
        }

        .sukienTime {
            position: relative;
            bottom: 185px;
            left: 15px;

            .gio {
                background: #4c5bd4;
                border-radius: 6px 6px 0 0;
                width: 107.39px;
                height: 40.69px;
                display: flex;
                justify-content: center;
                align-items: center;

                .gioText {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: #fff;
                }
            }

            .ngay {

                background: #fff;
                border-radius: 0 0 6px 6px;
                width: 107.39px;
                height: 40.69px;
                display: flex;
                justify-content: center;
                align-items: center;

                .ngayText {
                    font-size: 16px;
                    line-height: 19px;
                    color: #474747;
                }
            }
        }

        .sukienDangky {
            position: relative;
            bottom: 55px;
            right: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #4c5bd4;
            border: none;
            background: #fff;
            border: 1px solid #4c5bd4;
            box-sizing: border-box;
            border-radius: 50px;
            padding: 8px 30px;
        }
    }

    .footer {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.optionItem {
    font-size: 16px;
    display: flex;
    gap: 10px;
    padding: 4px 30px 4px 4px;
}

@media (max-width: 320px) {
    .thutuceoContainerContentFormButtonSubmit {
        max-width: 200px;
    }
}

// comment post

.post__count_reaction {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 15px;
    padding-top: 15px;
    cursor: pointer;
}

.post__reaction__count_like {
    display: flex;
}

.post__reaction__count_like__text {
    margin-left: 6px;
}

.post__reaction__count_comment {
    margin-right: 6px;
}

.sum__comment {
    display: flex;
    align-items: center;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


.post__footer__middle,
.post__footer__right {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.post__footer__middle__text,
.post__footer__right__text {
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    background-color: #CCCCCC;

}

.post__comment_sort {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    font-weight: 500;
    font-size: 15px;
}

.post__comment_sort_icon {
    margin-left: 2px;
    font-size: 12px;
}

.comment__avatar_user_img {
    border-radius: 50%;
}

.comment {
    display: flex;
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 16px;
}

.comment__content {
    width: 100%;
}

.comment__content_info {
    margin-left: 15px;
    padding: 10px 15px;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 100%;
    line-height: 20px;
}

.comment__name {
    color: #474747;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.comment__text {
    font-size: 16px;
    font-weight: 400;
}

.comment__content_reaction {
    display: flex;
    margin-left: 16px;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
}

/* popOver content */
.contentPopover {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contentPopover__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background-color: #fff;
}

.listUser__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

/* hiddenpost */

.postHidden {
    display: flex;
    justify-content: space-between;
}

.postHidden__container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.postHidden__content {
    display: flex;
    gap: 16px;
}

.postHidden__content__text_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.postHidden__content__text_desc {
    font-size: 16px;
    color: #666666;
    font-weight: 400;
}

.postHidden__content__img {
    cursor: pointer;
}

.cmt {
    margin-left: 2px;
}

.postHidden__btn {
    border: 1px solid #4C5BD4 !important;
    color: #4C5BD4;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px !important;
    width: 125px;
}

.postHidden__btn:hover {
    color: #4C5BD4 !important;
}

@media (max-width: 426px) {
    .post {
        padding: 12px;
    }
}

@media (max-width: 376px) {

    .people,
    .cmt,
    .share,
    .footer_cmt,
    .footer_share {
        display: none;
    }

    .iconCmt,
    .iconShare {
        display: block !important;
    }
}

.iconCmt,
.iconShare {
    display: none;
}

/* option comment */

.itemDropdown {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 4px;
    font-weight: 500;
}

.commentHidden {
    background-color: #666 !important;
}